/*formatting banner*/
.masthead{
   padding: 2rem;
   text-align: center;
}
.masthead-logo{
    max-width: 1000px;
    height: auto;
}
/*formatting the content div*/
#content{
    margin: 0 auto;
    width: 900px;
}

.image{
    width: 100%;
    max-width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1{
    font-family: Helvetica, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; 
}

h2{
    font-family: Helvetica, sans-serif; font-size: 20px; font-style: italic; font-variant: normal; font-weight: 600; line-height: 26.4px; 
}

h4{
    font-family: Helvetica, sans-serif; font-size: 14px; font-style: italic;
}

p{
    font-family: Georgia, serif;
    font-size:13px;
}

li{
    font-family: Helvetica, sans-serif; 
    font-size: 14px;
    font-style: italic;
}

#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}

blockquote{
    font-size: 24px;
    margin-top:15px;
    margin: bottom 15px;
    color: #ED6114;
    margin-left: 50px;
    padding-left: 15px
}